<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TemplateSyntax</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="ok">OK!</p>
        <p v-else-if="maybeOk">maybe OK</p>
        <p v-else>Not OK...</p>

        <template v-if="hello">
            <p>Hello</p>
            <p>Good Bye</p>
            <p>おはよう</p>
        </template>
        <button @click="hello = !hello">表示切り替え</button>

        <ul>
            <li v-for="fruit in fruits">{{ fruit }}</li>
        </ul>
        <ul>
            <li v-for="(fruit, index) in fruits">{{ index }}: {{ fruit }}</li>
        </ul>
        <ul>
            <li v-for="(value, key, index) in object">{{ index }}: {{ key }}: {{ value }}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                ok: false,
                maybeOk: false,
                hello: true,
                fruits: ['Apple', 'Banana', 'Grape'],
                object: {
                    firstName: 'Taro',
                    lastName: 'Tanaka',
                    age: 21
                }
            }
        })
    </script>
</body>

</html>
